    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding">
                <a href="#" class="backToIndex link  "> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="center sliding navbar_title">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG00}}</div>     
           <!--  <div class="right">
                 <a href="#" class="link deleteAllNotifications" ><i class="f7-icons icon-header-delete"></i></a>
             </div>      -->  
        </div>
    </div>

<div class="pages">
    <div class="page verification_page" data-page="asset.verification">
    	
    	<div class="page-content " >
            <!-- <div class="content-block-title border_top showBlockControll">{{@global.LANGUAGE.CLIENT_DETAILS_MSG13}}<i class="f7-icons icon-other-arrow-drop-down"></i></div> -->
            <div class="list-block list-block-readonly no-hairlines-between verificationList">           
                <ul>                 
                    <li class="item-content color-blue">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG01}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{IMEI}}</div>                        
                        </div>                   
                    </li>
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG02}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{IMSI}}</div>                        
                        </div>                   
                    </li>
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG07}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{TaskID}}</div>                        
                        </div>                   
                    </li>
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG08}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{Product}}</div>                        
                        </div>                   
                    </li>
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG09}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{Service}}</div>                        
                        </div>                   
                    </li>
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG03}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{Name}}</div>                        
                        </div>                   
                    </li>
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG10}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{Account}}</div>                        
                        </div>                   
                    </li> 
                    {{#if LoginName}}               
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.CLIENT_DETAILS_MSG01}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{LoginName}}</div>                        
                        </div>                   
                    </li>
                    {{/if}}
                    {{#if FirstName}}
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.CLIENT_DETAILS_MSG02}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{FirstName}}</div>                        
                        </div>                   
                    </li>
                    {{/if}}
                    {{#if LastName}}
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.CLIENT_DETAILS_MSG11}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{LastName}}</div>                        
                        </div>                   
                    </li>
                    {{/if}}
                    {{#if PhoneNumber}}
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.CLIENT_DETAILS_MSG04}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{PhoneNumber}}</div>                        
                        </div>                   
                    </li>
                    {{/if}}
                    {{#if Date}}
                    <li class="item-content">                  
                        <div class="item-media">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG04}}:</div>
                        <div class="item-inner">
                            <div class="item-title">{{Date}}</div>                        
                        </div>                   
                    </li>
                    {{/if}}
                </ul>
            </div>  
            
            <!-- 
            <div class="result result1">
                <div class="content-block text-a-c">
                    <img class="verify_img" src="resources/images/verified.svg" alt="">
                    <div class="verify_text verified">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG05}}</div>
                </div>
            </div>
             -->
        
            <!-- 
            <div class="result result2">
                <div class="content-block content_block_notes">
                    <span class="color-danger">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG06}}</span><br>
                    {{@global.LANGUAGE.PROMPT_MSG021}}
                </div>            
                <div class="content-block">
                    <a href="#" class="button button-big button-fill color-green verifyAgain">{{@global.LANGUAGE.ASSET_VIRIFICATION_MSG11}}</a>
                </div>
            </div> 
            -->
            
        </div>
    </div>
</div>

