<div class="page bg-color-page page_replace_sim" data-page="asset.sim.replace">
	<div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link "> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.HOME_MSG11}}</div>
            <div class="right">
                <a href="#" class="link formSubmit" ><i class="f7-icons icon-header-apply"></i></a>
            </div>
        </div>
    </div>
	<div class="page-content " >



       <!-- <div class="content-block-title border_top showBlockControll ripple">{{@global.LANGUAGE.ASSET_SETTINGS_MSG17}}<i class="f7-icons icon-other-arrow-drop-dowm"></i></div>-->
        <div class="list-block media-list no-hairlines-between no-hairlines mt-0">
            <ul >

                <li class="item-content">
                    <div class="item-media"> <i class="f7-icons icon-other-asset-details"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.ASSET_SIM_INFO_MSG01}}</div>
                        <div class="item-input">
                            <input type="text" placeholder="{{@global.LANGUAGE.ASSET_SIM_INFO_MSG01}}" name="IMEI" value="{{IMEI}}" maxlength="200" readonly class="">
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.ASSET_SIM_INFO_MSG02}}</div>
                        <div class="item-input">
                            <input type="text" placeholder="{{@global.LANGUAGE.ASSET_SIM_INFO_MSG02}}" name="IMSI" value="{{IMSI}}" maxlength="200" readonly class="">
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.ASSET_SIM_INFO_MSG10}}</div>
                        <div class="item-input">
                            <input type="text" placeholder="{{@global.LANGUAGE.ASSET_SIM_INFO_MSG10}}" name="NewIMSI" value="" maxlength="200" class="">
                            <i class="f7-icons icon-scan color-blue scanBarCode"></i>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.ASSET_SIM_INFO_MSG09}}</div>
                        <div class="item-input">
                            <input type="text" placeholder="{{@global.LANGUAGE.ASSET_SIM_INFO_MSG09}}" name="APN" value="{{APN}}" maxlength="200" class="">
                        </div>
                    </div>
                </li>



            </ul>
        </div>


    </div>
</div>

